
body{
    color:blue;
background-color:pink
}
a:hover{
    color:orange;
font-size:50px}
h2{
border: dashed;
border-width:50px;
text-align:center;
 padding: 30px;
   text-size:300%;
  margin:25px;
    color:red;
  background-color:grey
}
h4:hover{
    color:red;
    font-size:50px;
}
h3:active{
    font-size:150px;
    color:red;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
