
#lifegoals:hover {
  color:red;
    text-size:50px;}
h3:hover{
  color:red;}
p:hover {
  color:red;
  font-variant: small-caps;
}
#seong:hover::after{
    background-color:red;
    content:"Pick ME";
}
